---
layout: page
---

{% include lang.html %}

{% assign tmemos = site.memos | sort: 'date' | reverse %}

<div class="memo-container">  <!-- 使用 memo.scss 中定义的 .memo-container 样式 -->
  {% for memo in tmemos %}
    <article class="memo-article">  <!-- 使用 memo.scss 中定义的 .memo-article 样式 -->
	<div class="memo-content">
	    {{memo.content | markdownify}}
	</div>
	<div class="memo-time">
	    <i class="far fa-calendar-days fa-fw me-1"></i>
	    {% include datetime.html date=memo.date lang=lang %}
	</div>
    </article>

  {% endfor %}
</div>
